*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}


body{
  background: #ddd;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}


/* player Main css */
.c-player--main{
  display: block;
  background-color: #313131;
  padding: 50px;
  border-radius:16px;
  box-shadow: inset  -6px -6px 12px rgba(0,0,0, 0.8) , inset  6px 6px 12px rgba(255,255,255, 0.4);
}


.c-player--main>h4{
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.c-player--main>p{
  color: #AAA;
  text-align: center;
  font-size: 14px;
  font-weight:800;
  text-transform: uppercase;
}


/* player List css */

.c-player--list .list-img{
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.c-player--list .list-img img{
display: block;
margin: 50px auto;
width: 100%;
max-width: 250px;
border-radius: 50%;
box-shadow: 6px 6px 12px rgba(0,0,0, 0.8), -6px -6px 12px rgba(255,255,255, 0.4) ;
}



.c-player--list .list-title{
  color:#eee;
  font-size: 28px;
  text-shadow:2px 2px 4px rgba(0,0,0, 0.8), -2px -2px 4px rgba(255,255,255, 0.4);
  text-align: center;
  margin-bottom: 10px;
}
.c-player--list .list-Artis{
  color:#aaa;
  font-size: 20px;
  text-shadow:2px 2px 4px rgba(0,0,0, 0.8), -2px -2px 4px rgba(255,255,255, 0.4);
  text-align: center;
  margin-bottom: 20px;
}

/* player control css */ 
.c-player-control{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 30px;
}

.c-player-control .play-btn{
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0,0,0, 0.8), 
  -4px -4px 10px rgba(255,255,255, 0.4),
   inset -4px -4px 10px rgba(255,255,255, 0.4),
   inset 4px 4px 10px rgba(255,255,255, 0.4);
  
  border: none;
  outline: none;
  background-color: #FFCE00;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}


.c-player-control .skip-btn{
  
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  color:#888;


}

